/* VARIABLES */

:root {
  --text-blue: #2196f3;
  --text-black: #212121;
  --text-grey: #757575;
  --text-grey-op60: rgba(255, 255, 255, 0.6);
  --text-white: #ffffff;

  --back-white: #e5e5e5;
  --back-black-light: #2f303a;
  --back-grey: #f5f4fa;
  --back-grey-btn: #f5f4fa;
  --border: #eeeeee;
  --overlay: rgba(33, 150, 243, 0.9);
  --occup-overlay: rgba(47, 48, 58, 0.8);
  --modal-btn: #188ce8;

  --icon-grey: #afb1b8;
  --set-gap: 30px;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* GENERAL STYLES*/

body,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--text-black);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
a,
h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* button {
  padding: 0;
  background-color: transparent;
} */

/* button:active {
  outline: none;
} */

input,
textarea {
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

/* GROUP STYLES */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__title,
.feature__title,
.project__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo__text,
.page-header__link--active,
.page-header__link:focus,
.page-header__item:hover,
.page-header__item:focus,
.header-contact__link:hover,
.header-contact__link:focus,
.modal__contract-link,
.project__button-list:hover,
.project__button-list:focus {
  color: var(--text-blue);
}

.header-contact__link,
.modal__label-check,
.feature__text {
  color: var(--text-grey);
}

.page-hero__title,
.occupation__overlay-text,
.footer,
.footer__logo,
.subscription__input,
.project__button:hover,
.project__button:focus {
  color: var(--text-white);
}

.page-hero,
.footer,
.subscription__input {
  background-color: var(--back-black-light);
}

.social__link:hover,
.social__link:focus,
.project__button:hover,
.project__button:focus {
  background-color: var(--text-blue);
}

.page-header__item,
.page-header__link,
.header-contact__link,
.client__link,
.social__link,
.project__button {
  transition: color 250ms var(--cubic);
}

.social__link,
.project__button {
  transition: background-color 250ms var(--cubic);
}

.project__item {
  transition: box-shadow 250ms var(--cubic);
}

.project__button-list:focus,
.social__link:focus,
.modal__input:focus,
.modal__comment-input:focus,
.project__button:focus {
  outline: none;
}

/* FONTS */

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.page-header__logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-header__nav,
.header-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  align-items: center;
}

.page-hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal__input,
.modal__comment-input,
.modal__comment-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
}

.feature__item-title,
.occupation__overlay-text,
.join__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.occupation__title,
.team__title,
.client__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__label-check,
.footer__address,
.feature__text,
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.project__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

/* HEADER */

.page-header .container {
  display: flex;
  min-height: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.page-header {
  position: sticky;
  top: -1px;
  background-color: var(--text-white);
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.page-header__nav {
  display: flex;
}

.page-header__list {
  display: flex;
  margin-left: 93px;
}

.header-contact__item {
  display: flex;
}

.page-header__link {
  position: relative;
  padding: 32px 0;
}

.page-header__link--active::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  border-bottom: 4px solid var(--text-blue);
  border-radius: 2px;
}

.page-header__item:not(:first-child),
.header-contact__item:last-child {
  margin-left: 50px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* HERO */

.page-hero__item {
  padding: 200px 0 200px 0;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.page-hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button {
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: transparent;
  background-color: var(--text-blue);

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-white);
}

.page-hero__button:hover,
.page-hero__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.page-hero__button {
  display: block;
  padding: 10px 32px;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--cubic);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal__form {
  transform: translateX(-1000px) translateY(-50%);
}

/* MODAL */

.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  max-height: 100vh;
  overflow-y: auto;

  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic);
  z-index: 10;
}

.modal__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--text-grey);
}

.modal__input-wrapper {
  position: relative;
  margin-top: 4px;
}

.modal__form .modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms var(--cubic);
}

.modal__input {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  transition: border-color 250ms var(--cubic);
}

.modal__form .modal__close-icon,
.modal__form .modal__icon {
  width: 18px;
  height: 18px;
}

.modal__input-wrapper:hover .modal__input,
.modal__input:focus,
.modal__comment-input:hover,
.modal__comment-input:focus {
  border-color: var(--text-blue);
  transition: fill 250ms var(--cubic);
}

.modal__input-wrapper:hover .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--text-blue);
  transition: fill 250ms var(--cubic);
}

.modal__title {
  margin-bottom: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__comment-input {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;

  transition: border-color 250ms var(--cubic);
}

.modal__comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__contract-link {
  margin-left: 3px;
  text-decoration: underline;
  border-bottom: var(--text-blue);
}

.modal__label-check {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.modal__check-icon {
  margin-right: 7px;
  border: 2px solid var(--text-black);
  border-radius: 2px;
}

.modal__check-icon use {
  display: none;
}

.modal__check-box {
  display: none;
}

.modal__check-box:checked + .modal__check-icon {
  border: none;
}

.modal__check-box:checked + .modal__check-icon use {
  display: block;
}

.modal__close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: var(--text-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-button:hover use,
.modal__close-button:focus use {
  fill: var(--text-blue);
  transition: fill 250ms var(--cubic);
}

.modal__send-button {
  display: block;
  padding: 10px 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal__send-button:hover,
.modal__send-button:focus {
  background-color: var(--modal-btn);
}

/* FEATURE */

.feature {
  padding-top: 94px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.feature__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.feature__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--back-grey-btn);
  border-radius: 4px;
}

.feature__item-title {
  margin-top: 30px;
}

.feature__text {
  margin-top: 10px;
  margin-bottom: 0;
}

/* OCCUPATION */
.occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}

.occupation__title {
  margin-bottom: 50px;
}

.occupation__list {
  display: flex;
}

.occupation__item:not(:first-child) {
  margin-left: 30px;
}

.occupation__image {
  position: relative;
}

.occupation__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--occup-overlay);

  transform: translateY(-100%);
}

.occupation__overlay-text {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}

/* TEAM */

.team {
  background-color: var(--back-grey);
  margin-left: auto;
  margin-right: auto;
  padding: 94px 0;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -30px;
}

.team__item {
  background-color: var(--text-white);
  margin-top: 50px;
  margin-left: 30px;

  flex-basis: calc((100% - 120px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__image {
  width: 100%;
}

.team__card {
  padding: 30px 32px;
}

.team__name {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-grey);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--icon-grey);
}

.social__link:focus,
.social__link:hover {
  color: var(--text-white);
}

.social__icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.social__icon {
  fill: var(--icon-grey);
}

.social__icon:hover,
.social__icon:focus {
  fill: currentColor;
}

/* CLIENTS */

.client {
  padding: 94px 0;
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: center;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-grey);
}

.client__link:hover,
.client__link:focus {
  color: var(--text-blue);
  border-color: var(--text-blue);
}

.client__icon {
  fill: currentColor;
}

/* FOOTER */

.footer {
  padding: 60px 0;
}

.footer__container {
  display: flex;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__link {
  display: inline-block;
  color: var(--text-grey-op60);
  margin-top: 9px;
}

.join {
  margin-left: 70px;
  margin-top: 12px;
}

.join__title {
  display: block;
  margin-bottom: 20px;
}

.join__link {
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-white);
}

.subscription {
  margin-top: 12px;
  margin-left: auto;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 0 12px;
}

.subscription__button {
  display: flex;
  padding: 10px 28px;
  margin: auto 0 0 12px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__icon {
  width: 24px;
  height: 24px;
  fill: var(--text-white);
  margin-left: 10px;
}

/* PROJECTS */

.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .project__title {
  margin-bottom: -50px;
} */

.project__filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.project__button-list {
  height: 38px;
  align-items: center;
  border-radius: 4px;
  background: var(--back-grey-btn);
}

.project__button-list:not(:first-child) {
  margin-left: 8px;
}

.project__button {
  padding: 6px 22px;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project__button-list:hover,
.project__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.project__item:hover,
.project__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card {
  padding: 24px 20px;

  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
}

.project__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.project__thumb {
  position: relative;
  overflow: hidden;

  /* height: 294px;
  width: 370px; */
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--text-white);

  background-color: var(--overlay);

  transform: translatey(101%);
  transition: transform 250ms ease;
}

.project__item:hover .project__overlay {
  transform: translatey(0);
}
